# Ignorar arquivos temporários do Python
__pycache__/
*.pyc

# Ignorar ambientes virtuais (se você usa)
.venv/
venv/
env/

# --- SEGURANÇA ---
# Ignorar o arquivo de configuração real com suas senhas
bot_config.json
fishing_map.json
cavebot_scripts/
build/
dist/
objects.srv
Downloads.code-workspace
app.ico
trash/
backup/

# Ignorar o banco de dados do Fishing se ele for muito grande ou pessoal
# fishing_map.json (já coloquei acima)
utils/test_stop.py
test_global_map.py
cavebot_maps/rota_z7.png
cavebot_maps/rota_z8.png
cavebot_maps/rota_z9.png
FALLBACK_FIX_SUMMARY.md
TRAINER_FIXES_SUMMARY.md
TRAINER_TESTING_GUIDE.md
cavebot_maps/rota_z6.png
.claude/settings.local.json
.claude/settings.local.json
